* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
/* Main container for elements*/
.main {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  width: 60vw;
  height: 60vh;
  min-height: 280px;
  min-width: 196px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Gloria Hallelujah", cursive;
  border: 2px solid black;
}

h1 {
  position: absolute;
  top: 2%;
  height: 20%;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 10px black;
  font-size: 1.2em;
}
/* messege about win, loss, drew*/
.message {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.message span {
  display: block;
  position: absolute;
  left: -10%;
  top: -5%;
  font-size: 16px;
  border: 2px solid black;
  padding: 2%;
  background-color: silver;
}

/* position div */
.allDiv {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  padding-top: 20%;
  opacity: 0;
}

.div {
  flex-basis: 30%;
  min-height: 30%;
}

/* border div for board  */
div [data-key="0"] {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

div [data-key="1"] {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

div [data-key="2"] {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

div [data-key="3"] {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

div [data-key="4"] {
  border: 2px solid black;
}

div [data-key="5"] {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

div [data-key="6"] {
  border-top: 2px solid black;
  border-right: 2px solid black;
}

div [data-key="7"] {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

div [data-key="8"] {
  border-top: 2px solid black;
  border-left: 2px solid black;
}

img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  max-width: 20%;
}

/*Tabel Score*/
.scores {
  position: absolute;
  top: 105%;
  right: 0%;
  width: 100%;
  height: 15%;
  opacity: 0;
  text-align: center;
  font-weight: bold;
  border: solid 2px black;
  display: flex;
  flex-direction: nowrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  font-size: 0.8em;
  flex-shrink: 1;
}

/* Board Start game*/
.startGame {
  position: absolute;
  top: 50%;
  left: 50%;
  width:100%;
  height: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.7em;
  text-shadow: 2px 2px 10px black;
}
.startGame button {
  width: 40%;
  height: 20%;
  margin-top: 10%;
  background-color: black;
  border: 2px solid black;
  border-radius: 25%;
  box-shadow: 1px 1px 10px inset white, 5px 3px 1px black;
  font-size: 0.8em;
  line-height: 0.8em;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  font-family: "Gloria Hallelujah", cursive;
  cursor: pointer;
}
.startGame button:hover {
  transform: translateY(-10%);
  background-color: white;
  color: black;
  text-shadow: 2px 3px 5px black;
  box-shadow: 1px 1px 10px inset black, 5px 3px 1px black;
}
.startGame p {
  border-top: 5px dotted black;
}


/* checking level elements  */
div.level{
  text-align: center;
  padding: 2%;
}
div.level h3{
 text-decoration-line: underline;
  font-weight: 400;
}
div.level span  {
  cursor: pointer;
  padding: 2%;

}
div.level span:hover{
  text-decoration-line: underline;
}
.startGame .level {
  border-bottom: 5px dotted black;
}

/*Back menu */
.backMenu{
  position: absolute;
  top: 123%;
  right: -25%;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: wrap;
  justify-content: space-around; 
  font-size: 0.8em;
  text-align: center;
  opacity: 0;
}
.backMenu button{
  width: 40%;
  height: 100%;
  background-color: black;
  border: 1px solid black;
  border-radius: 25%;
  box-shadow: 1px 1px 10px inset white;
  font-size: 0.7em;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  font-family:  "Gloria Hallelujah";
  cursor: pointer;
}
.backMenu button:hover {
  transform: translateY(-10%);
  background-color: white;
  color: black;
  text-shadow: 2px 3px 5px black;
  box-shadow: 1px 1px 10px inset black, 5px 3px 1px black;
}
.backMenu input{
  width: 10px;
  height:10px;
}
.backMenu label{
  width: 30%;
  border: solid 1px black;
  background-color: silver;
}


/*Media Queris*/

@media (min-width: 320px) {
  .message span {
    left: -20%;
    top: -10%;
    font-size: 13px;}
  .scores {
    font-size: 0.9em;
  }}

  
@media (min-width: 400px) {
  .scores {
    font-size: 1em;
  }
  .startGame button {
    width: 100px
}
.backMenu{
  top: 119%;
  left: 101%;
  width: 30%;
  height: 20%;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}
.backMenu button{
  width: 100%;
  height: 40%;
}
.backMenu label{
  width: 100%; 
}
}

@media (min-width: 425px) {
  h1 {
    font-size: 1.5em;
  }
  .scores {
    height: 20%;
    font-size: 1.1em;
  }
  .startGame {
    font-size: 0.75em;   
  }
  .allDiv img {
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}
@media (min-width: 600px) {
  .startGame {
    font-size: 0.9em;   
  }
  .backMenu{
    font-size: 1em;
  }
  .backMenu input{
    width: 11px;
    height:11px;
  }
  .backMenu label{
 height: 25px;  
  }
  .backMenu button{
    height: 35%;
  }
  
}
@media (min-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
  img {
    transform: translate(-50%, -50%);
  }

  .scores {
    font-size: 1.1em;
  }
  .startGame {
    font-size: 1.1em;
  }
  .main {
    height: 70vh;
    transform: translate(-50%, 10%);
  }
  .startGame button {
    margin-top: 10%;
  }
  .message span {
    font-size: 1.5em;
  }
  .backMenu{
    top: 110%;   
  }

}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.7em;
  }
  .scores {
    top: 0%;
    right: -25%;
    width: 20%;
    height: 50%;
    flex-direction: column;
    font-size: 1.5em;
  }
  .main {
    height: 80vh;
  }
  .startGame {
    font-size: 1.45em;
  }
  .startGame button {
    width: 150px;
    margin-top: 5%;
}
.backMenu{
  top: 60%; 
}
.backMenu button{
  width: 150px;
}
.backMenu label{
  width: 120px; 
}
.backMenu input{
  width: 16px;
  height:16px;
}
}

@media (min-width: 1400px) {

  .startGame {
    font-size: 1.7em;
  }
  .backMenu{
  font-size: 1.5em;
  }
  .backMenu button{
    width: 170px;
  }
  .backMenu label{
    width: 120px; 
    height: 50%;
  } 
}

@media (min-width: 2560px) {
  h1 {
    font-size: 4em;
  }
  .scores {
    font-size: 2.5em;
  }
  .startGame {
    font-size: 2.5em;
  }
  .message span {
    font-size: 3em;
  }
  .startGame button {
    width: 240px;
    margin-top: 5%;
}
.backMenu{
  font-size: 2.5em;
  }
  .backMenu button{
    width: 250px;
  }
  .backMenu label{
    width: 250px; 
    height: 50%;
  } 
}